/**/
body {
        background-color:skyblue;
    }
#data {
        background-color: rgba(210, 231, 116, 0.979);
        color: white;
    }
#update {
        background-color: rgb(44, 243, 127);
        color: white;
    }